.completed-projects {
	padding: 100px 0;

	.projects {
		gap: 30px;
	}

	.project {
		padding: 25px;
		width: 450px;
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.2);

		p {
			margin-bottom: 5px;
		}

		ul {
			margin-left: 35px;
		}

		ul li {
			list-style-type: disc;
		}
	}
}