.completed-projects {
	padding: 100px 0;

	@media (max-width: 400px) {
		padding: 75px 0 75px 0;
	}

	.projects {
		gap: 30px;
	}

	.project {
		padding: 20px;
		width: 300px;
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.2);
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
			border-color 0.2s ease-in-out;

		&.hidden {
			display: none;
		}

		@media (min-width: 768px) {
			&:hover {
				color: #000;
				background-color: #fff;
				border-color: #000;
			}
		}

		p {
			margin-bottom: 5px;
			font-size: calc(15px + 3 * (100vw - 320px) / 1120);
		}

		ul {
			margin-left: 35px;
		}

		ul li {
			list-style-type: disc;
		}
	}

	.button {
		margin-top: 40px;
	}
}
