.key-skills {
	padding: 130px 0 70px 0;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.key-skills__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
	}

	.key-skills__item {
		cursor: default;
		padding: 20px;
		width: 300px;
		border-radius: 10px;
		border: var(--cardBorder);
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
			border-color 0.2s ease-in-out, opacity 0.4s ease-in-out;

		&.animate-on-scroll {
			opacity: 0;
		}

		&.animate-on-scroll.animate {
			opacity: 1;
		}

		&.hidden {
			display: none;
		}

		h3 {
			margin-bottom: 5px;
			font-size: 20px;
		}

		p {
			font-size: calc(14px + 4 * (100vw - 320px) / 1120);
		}

		@media (min-width: 768px) {
			&:hover {
				background-color: var(--items-hover);
				border-color: var(--primaryColor);
			}
		}
	}
}
