.solutions {
	padding: 150px 0;

	@media (max-width: 400px) {
		padding: 75px 0 75px 0;
	}

	.solutions-head {
		position: relative;
		text-align: center;
		padding-bottom: 50px;

		.description {
			max-width: 600px;
		}

		svg {
			display: none;
		}

		@media (max-width: 1200px) {
			svg {
				display: block;
				position: absolute;
				right: 0;
				bottom: -10%;
			}
		}
	}

	.swiper-container {
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;

		.swiper-slide {
			max-width: 450px;
			text-align: center;

			@media (max-width: 440px) {
				max-width: 100%;
			}
		}
	}

	.card {
		padding: 20px;

		h4 {
			margin-bottom: 20px;
			font-size: 20px;
		}

		.image-container {
			margin-bottom: 15px;
			max-width: 100%;
			max-height: 275px;
			overflow: hidden;
			border-radius: 10px;

			img {
				width: 100%;
			}
		}

		.card-description {
			text-align: justify;
			font-size: calc(15px + 3 * (100vw - 320px) / 1120);
			line-height: 150%;
		}
	}
}
