.stack {
	padding: 100px 0;

	h2 {
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.stack-item {
		margin-bottom: 8px;

		ul li {
			padding: 10px;
			margin-left: 60px;
			list-style: disc;
			font-size: 20px;
		}
	}

	.stack-button {
		padding: 15px;
		margin-bottom: 10px;
		width: 100%;
		font-size: calc(18px + 4 * (100vw - 320px) / 1120);
		text-align: start;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

		@media (min-width: 998px) {
			&:hover {
				color: #000;
				background-color: #fff;
			}
		}

		&.show {
			color: #000;
			background-color: #fff;
		}
	}

	.stack-content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-in-out;
	}
}
