.footer {
	padding: 100px 0 50px 0;

	.container {
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	.info {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	ul {
		margin-top: 25px;
		display: flex;
		align-items: center;
		gap: 15px;
	}

	.socialItem {
		img {
			width: 40px;
			height: 40px;
		}
	}
}
