.header {
	padding: 25px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	backdrop-filter: blur(5px);

	.nav-list {
		gap: 25px;
		font-size: 18px;
	}

	.logo {
		font-size: 24px;
	}
}
