* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before *:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	color: var(--secondaryColor);
	font-family: 'Open Sans';
	background-color: var(--primaryColor);
}

input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	outline: none;
	color: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
	line-height: normal;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding-inline: 15px;
}

.main {
	flex: 1 1 auto;
}

.title {
	text-align: center;
	margin-bottom: 25px;
	font-weight: 700;
	font-size: calc(30px + 10 * (100vw - 320px) / 1120);
	opacity: 0;

	&.animate {
		opacity: 1;
		transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
		transform: translateY(-15px);
		transition-delay: 0.2s;
	}
}

.description {
	font-size: calc(14px + 6 * (100vw - 320px) / 1120);
	line-height: 150%;
	opacity: 0;

	&.animate {
		opacity: 1;
		transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
		transform: translateY(-15px);
		transition-delay: 0.2s;
	}
}
