.politicy {
	padding-block: calc(50px + 50 * (100vw - 320px) / 1120);
	.container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	h1 {
		margin-bottom: calc(40px + 10 * (100vw - 320px) / 1120);
		font-size: calc(25px + 10 * (100vw - 320px) / 1120);
	}

	.rules {
		max-width: 800px;
		margin-bottom: 30px;
		p,
		b,
		li {
			font-size: calc(15px + 5 * (100vw - 320px) / 1120);
			line-height: 150%;
		}

		.disc-item {
			list-style-type: disc;
			margin-left: 20px;
		}
	}
}
